version: '3.9'
services:
  db:
    image: postgres
    volumes:
     - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    expose:
      - "5433"
    ports:
      - "5433:5433"
    command: -p 5433
  web:
    build: .
    volumes:
     - .:/app/
     - ./djecommerce/staticfiles:/app/djecommerce/staticfiles/
     - ./djecommerce/static:/app/djecommerce/static/
    command: > 
        sh -c "
              python manage.py collectstatic --noinput  --settings=djecommerce.settings.production &&
              python manage.py migrate --settings=djecommerce.settings.production &&
              python manage.py runserver 0.0.0.0:8500 --settings=djecommerce.settings.production"
    
    ports:
        - "8500:8500"    
    environment:
      - ALLOWED_HOSTS
      - SECRET_KEY
      - DJANGO_ADMIN_USERNAME
      - DJANGO_ADMIN_PASSWORD
      - DB_NAME
      - DB_USER
      - DB_PASSWORD
      - DB_HOST
      - POSTGRES_PORT
    depends_on:
      - db
